@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'PetcoCircular';
  src: url(/fonts/PetcoCircular-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular';
  src: url(/fonts/PetcoCircular-Bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircularTT-Regular';
  src: url(/fonts/PetcoCircularTT-Regular.woff2) format('woff2'),
    url(/fonts/PetcoCircularTT-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircularTT-Bold';
  src: url(/fonts/PetcoCircularTT-Bold.woff2) format('woff2'),
    url(/fonts/PetcoCircularTT-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Black';
  src: url(/fonts/PetcoCircular-Black.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-BlackItalic';
  src: url(/fonts/PetcoCircular-BlackItalic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Bold';
  src: url(/fonts/PetcoCircular-Bold.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-BoldItalic';
  src: url(/fonts/PetcoCircular-BoldItalic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Book';
  src: url(/fonts/PetcoCircular-Book.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-BookItalic';
  src: url(/fonts/PetcoCircular-BookItalic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Italic';
  src: url(/fonts/PetcoCircular-Italic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Light';
  src: url(/fonts/PetcoCircular-Light.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-LightItalic';
  src: url(/fonts/PetcoCircular-LightItalic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Medium';
  src: url(/fonts/PetcoCircular-Medium.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-MediumItalic';
  src: url(/fonts/PetcoCircular-MediumItalic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Regular';
  src: url(/fonts/PetcoCircular-Regular.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Thin';
  src: url(/fonts/PetcoCircular-Thin.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-ThinItalic';
  src: url(/fonts/PetcoCircular-ThinItalic.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-Ultra';
  src: url(/fonts/PetcoCircular-Ultra.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'PetcoCircular-UltraItalic';
  src: url(/fonts/PetcoCircular-UltraItalic.otf) format('opentype');
  font-display: swap;
}

html,
body,
#__next {
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
  /* font-family: 'PetcoCircular-MediumItalic', 'Segoe UI', Roboto, Arial,
    sans-serif; */
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}

:root {
  --primary: #5d712c;
  --link-color: #51f00;
  --hover-color: #12263f;
  --table-bg: #dfebf7;
  --border-color: #c1d8ee;
  --table_border-color: #9bc2e5;
  --dark-bg: #1c2e5c24;
  --swiper-theme-color: #5d712c;
  --primary-red: #e8213a;
}

.table-pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.swiper-pagination-bullet {
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--swiper-theme-color);
  background: transparent;
  border-radius: 50%;
  opacity: 1;
  margin: 0.3rem;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.swiper-pagination-bullet::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50%;
  visibility: hidden;
  background: var(--swiper-theme-color);
  opacity: 0;
  transform: rotate(-100deg);
  transform-origin: -200% 50%;
  transition: transform 0.3s ease 0.3s, opacity 0.3s ease,
    visibility 0s 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  /* background: var(--swiper-pagination-color, var(--swiper-theme-color)); */
  background-color: transparent;
  box-shadow: 0 0 0 2px white;
}
.swiper-pagination-bullet-active::after {
  visibility: visible;
  opacity: 1;
  transform: rotate(0deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
