@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next {
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
  /* font-family: 'PetcoCircular-MediumItalic', 'Segoe UI', Roboto, Arial,
    sans-serif; */
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}

:root {
  --primary: #5d712c;
  --link-color: #51f00;
  --hover-color: #12263f;
  --table-bg: #dfebf7;
  --border-color: #c1d8ee;
  --table_border-color: #9bc2e5;
  --dark-bg: #1c2e5c24;
  --swiper-theme-color: #5d712c;
  --primary-red: #e8213a;
}

.table-pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.swiper-pagination-bullet {
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--swiper-theme-color);
  background: transparent;
  border-radius: 50%;
  opacity: 1;
  margin: 0.3rem;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.swiper-pagination-bullet::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50%;
  visibility: hidden;
  background: var(--swiper-theme-color);
  opacity: 0;
  transform: rotate(-100deg);
  transform-origin: -200% 50%;
  transition: transform 0.3s ease 0.3s, opacity 0.3s ease,
    visibility 0s 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  /* background: var(--swiper-pagination-color, var(--swiper-theme-color)); */
  background-color: transparent;
  box-shadow: 0 0 0 2px white;
}
.swiper-pagination-bullet-active::after {
  visibility: visible;
  opacity: 1;
  transform: rotate(0deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.flex-end {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

/* .btn-green {
  background: var(--primary);
  border-color: var(--primary);
} */

.ant-btn-primary {
  background: var(--primary);
  border-color: var(--primary);
}

.ant-btn-primary:hover {
  background: #5d712cd4;
  border-color: #5d712cd4;
}

.ant-btn-primary:focus {
  background: #779139;
  border-color: #779139;
}

.page-title {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  text-transform: capitalize;
}
