@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
#__next {
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}

:root {
  --primary: #5d712c;
  --link-color: #3d3d3d;
  --hover-color: #12263f;
  --table-bg: #dfebf7;
  --border-color: #c1d8ee;
  --table_border-color: #9bc2e5;
  --dark-bg: #1c2e5c24;
  --swiper-theme-color: #81434e;
  --primary-red: #e8213a;
}

.table-pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
